/** BODY **/
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lora', serif;
    margin: auto;
    max-width: 1050px;
    padding: 20px;
    margin-top: 75px;
    background: #fafafa;
    line-height: 1.3em;

}

/** NAV **/
nav {
    font-family: 'Lora', serif;
    margin-bottom: 70px;
    text-align: center;
}
nav a{
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover {
    opacity: 1;
}

/* CONTENT */
#main-content {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/** ABOUT **/
#about {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 450px;
    margin-left: 30px;
}

/** PROFILE **/
#pic {
    width: 200px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#profile {
    position: absolute;
    height: 100%;
}

/** CONTACT **/
#contact {
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    animation: fadein .5s both;
    animation-delay: .35s
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
#contact a {
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    margin-top: 15px;
    opacity: .6;
    transition: 100ms;
}
#contact a:hover {
    opacity: 1;
}
